{% set page_name = 'Homebrew Codex - Rules' %}
{% extends "layouts/layout.njk" %}

{% set houserules = (root_path + '/src/assets/json/codex/house-rules.json') | json_parse %}
{% import 'macros/link.njk' as link %}

{% block content %}
    <div class="container">
        {% if not houserules.profiles | empty %}
        <section class="profile-select section is-js">
            <div class="box content">
                <p class="title is-5">Profile Selection</p>
                <button class="button is-link toggle-profile profile-all" data-profile="rule-all" value="#profile=all">all</button>
                <button class="button is-link toggle-profile profile-none" data-profile value="#profile=none">none</button>
                {% for key, value in houserules.profiles %}
                    <button class="button is-link toggle-profile profile-{{ key }}" data-profile="{{ value | classify('rule-') }}" value="#profile={{ key }}">
                        {{ key }}
                    </button>
                {% endfor %}
            </div>
        </section>
        {% endif %}

        <section class="rule-select section">
            {% for rule in houserules.rules %}
                {% include "partials/codex/house-rule.njk" %}
            {% endfor %}
        </section>

        <section class="resources-overview section content">
            <h4 class="subtitle">Resources</h4>
            {% for resource in houserules.resources %}
                <div class="message is-link">
                    <div class="message-body">
                        {% if resource.url %}
                            <p>{{ link.external(resource.url, resource.title) }}</p>
                        {% else %}
                            <p>{{ resource.title }}</p>
                        {% endif %}
                    </div>
                </div>
                {% for key, value in resources %}
                    <p>{{ key }}: {{ value }}</p>
                {% endfor %}
            {% endfor %}
        </section>
    </div>
{% endblock %}

{% block styles %}
    {{ link.style('codex/house-rules.css') }}
{% endblock %}

{% block scripts %}
    {{ link.script('codex/house-rules.js') }}
{% endblock %}
