{% import "macros/link.njk" as link %}
<link rel="apple-touch-icon" sizes="180x180" href="{{ link.page('/resources/assets/favicon/apple-touch-icon.png') }}">
<link rel="icon" href="{{ link.page('/resources/assets/favicon/favicon.svg') }}" type="image/svg+xml">
<link rel="icon" type="image/png" sizes="32x32" href="{{ link.page('/resources/assets/favicon/favicon-32x32.png') }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ link.page('/resources/assets/favicon/favicon-16x16.png') }}">
<link rel="manifest" href="{{ link.page('/resources/assets/favicon/site.webmanifest') }}">
<link rel="mask-icon" href="{{ link.page('/resources/assets/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
<link rel="shortcut icon" href="{{ link.page('/resources/assets/favicon/favicon.ico') }}">
<meta name="msapplication-TileColor" content="#2b5797">
<meta name="msapplication-config" content="/resources/assets/favicon/browserconfig.xml">
<meta name="theme-color" content="#ffffff">
