<header class="header">
    <section class="hero is-small is-dark has-text-centered">
        <div class="hero-head">
        </div>
        <div class="hero-body">
            <p class="title">Welcome</p>
            <p class="subtitle">A Fantasy World</p>
        </div>
    </section>
</header>
