<header class="header" id="main-header">
    <section class="hero is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-offset-1">
                    <h1 class="title is-1">Welcome</h1>
                    <h2 class="subtitle is-3">A Fantasy World</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</header>
