{% set page_name = '404 - not found' %}
{% extends "layouts/error.njk" %}
{% block content %}
<section class="hero is-warning">
    <div class="hero-head"></div>
    <div class="hero-body">
        <p class="title is-1">404</p>
        <p class="subtitle is-3">Not Found</p>
    </div>
</section>
{% endblock %}
