{% macro icon(x) %}
    <i class="bi-{{ x }}" role="img" aria-hidden="true"></i>
{% endmacro %}

{% macro externallink() %}
    <i class="bi-box-arrow-up-right" role="img" aria-describedby="external link"></i>
{% endmacro %}
