<div class="columns">
    <div class="column is-offset-3 is-6 has-text-warning">
        <span class="bi-asterisk"></span>
        The information below might spoil elements of future campaigns or one-shots.
        If you are a player you might wish to stop reading to maintain elements of surprise and wonder.
    </div>
</div>
