<!DOCTYPE html>
<html lang="en">
<head>
    {% import "macros/icon.njk" as bsi %}
    {% import "macros/link.njk" as link %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ link.page('/resources/css/style.css') }}" title="Default" id="theme-default" />
    <link rel="alternate stylesheet" href="{{ link.page('/resources/css/light.css') }}" title="Light" id="theme-light" />
    <link rel="alternate stylesheet" href="{{ link.page('/resources/css/style.css') }}" title="Dark" id="theme-dark" />
    {{ link.style('icons.css') }}
    {% include "partials/favicon.njk" %}
    {% block styles %}{% endblock %}

    <title>{{ page_name }}</title>
</head>
<body class="{{ page_name | classify('page-') }} theme-dark">
    {% include "partials/navbar.njk" %}
    {% block header %}
        {% include "partials/header.njk" %}
    {% endblock %}
    <div id="content-main"></div>
    {% block content %}{% endblock %}
    {% include "partials/footer.njk" %}
    {% block scripts %}{% endblock %}
    {{ link.script('theme-switcher.js') }}
    <script type="text/javascript">(function () { document.body.classList.add('js-enabled'); })();</script>
</body>
</html>
