{% extends "layouts/layout.njk" %}
{% block content %}
    <div class="container is-max-desktop is-info">
        <h2 class="title is-3">Work in Progress</h2>
        <h3 class="title is-5">Come back later</h3>
    </div>
{% endblock %}
